@{
    ViewData["Title"] = "Sobre";
}

<h3>Equipe AgendaFut</h3>
<br />
<br />
<p style="text-align:center"><b>O AgendaFut trás para você todos os eventos que ocorrem nos societys da região!</b></p>
<br />
<p>Buscando sempre a melhor maneira de atender seus clientes, viemos para ajudar os donos de campos Society,
    como também ajudar na divulgação de eventos, campeonatos e até mesmo nas escolinhas de futebol para a criançada, 
    venha fazer parte conosco!!!</p>