@{
    ViewData["Title"] = "Contacte-nos";
}
<h2>@ViewData["Title"]</h2>
<h3>Equipe AgendaFut!</h3>

<address>
    Rua sem nome,  Nº 000<br />
    Qualquer Lugar, Planeta Terra<br />
    <abbr title="Phone">Tel:</abbr>
    (xx) 0000-0000<br />
    <abbr title="Phone">Cel:</abbr>
    (xx) 00000-0000
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">SuporteAF@example.com</a><br />
    <strong>Marketing e Divulgação:</strong> <a href="mailto:Marketing@example.com">MarketingAF@example.com</a>
</address>
