@model SocietyAgendor.UI.Models.UsuarioModel

<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Edição de Usuário</h4>
            </div>
            <form method="post">
                @Html.HiddenFor(m => m.Usuario_Id)
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Usuario_Id" class="control-label"></label>
                                <input asp-for="Usuario_Id" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label asp-for="Usuario_Login" class="control-label"></label>
                                <input asp-for="Usuario_Login" class="form-control" />
                                <span asp-validation-for="Usuario_Login" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Salvar" class="btn btn-primary" asp-controller="Usuario" asp-action="UsuarioUpdate" />
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
