@model SocietyAgendor.UI.Models.CargoModel

@{
    ViewData["Title"] = "Criar cargo";
    Layout = "_LayoutLogado";
}

<h4>Novo Cargo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CargoAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cargo_Desc" class="control-label"></label>
                <input asp-for="Cargo_Desc" class="form-control" />
                <span asp-validation-for="Cargo_Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
