@model SocietyAgendor.UI.Models.HorarioModel

@{
    ViewData["Title"] = "Criar Horário";
    Layout = "_LayoutLogado";
}

<h2>Criar Horário</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateHorario" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Horario_De" class="control-label"></label>
                <input asp-for="Horario_De" class="form-control" type="time" />
                <span asp-validation-for="Horario_De" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario_Ate" class="control-label"></label>
                <input asp-for="Horario_Ate" class="form-control" type="time" />
                <span asp-validation-for="Horario_Ate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaSemana_Id" class="control-label"></label>
                <select asp-for="DiaSemana_Id" class="form-control" asp-items="@ViewBag.DiaSemanaList"></select>
                <span asp-validation-for="DiaSemana_Id" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
                <div class="form-group col-lg-1">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}