@* Barra de Menu *@
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <ul>
                <li><a asp-area="" asp-controller="Agendamento" asp-action="Index">Agendamento</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="IndexLogado" class="navbar-brand">AgendaFut</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Agendamento" asp-action="Index">Agendamento</a></li>
                <li><a asp-area="" asp-controller="Cargo" asp-action="Index">Cargo</a></li>
                <li><a asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a></li>
                <li><a asp-area="" asp-controller="Estabelecimento" asp-action="Index">Estabelecimento</a></li>
                <li><a asp-area="" asp-controller="Funcionario" asp-action="Index">Funcionário</a></li>
                <li><a asp-area="" asp-controller="Horario" asp-action="Index">Horário</a></li>
                <li><a asp-area="" asp-controller="Usuario" asp-action="Index">Usuário</a></li>
            </ul>

            <div class="dropdown navbar-form navbar-right">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Opções
                    @* <span id="userName"></span>*@
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="">Perfil</a></li>
                    <li><a href="/Home/Index">Sair</a></li>
                </ul>
            </div>

        </div><!--/.nav-collapse -->
    </div>
</nav>